# `Capstone 2`

# `Data Processing & Statistical Analysis`

### 1. Import relevant Python libraries.
___

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 2. Import the CSV file – NSMES1988new.csv into a dataframe.
___

In [13]:
df = pd.read_csv("../data/NSMES1988new.csv")
df.head()

,visits,nvisits,ovisits,novisits,emergency,hospital,health,chronic,adl,region,age,gender,married,school,income,employed,insurance,medicaid
0,5,0,0,0,0,1,average,2,normal,other,6.9,male,yes,6,2.8810,yes,yes,no
1,1,0,2,0,2,0,average,2,normal,other,7.4,female,yes,10,2.7478,no,yes,no
2,13,0,0,0,3,3,poor,4,limited,other,6.6,female,no,10,0.6532,no,no,yes
3,16,0,5,0,1,1,poor,2,limited,other,7.6,male,yes,3,0.6588,no,yes,no
4,3,0,0,0,0,0,average,2,limited,other,7.9,female,yes,6,0.6588,no,yes,no

### 3. Perform memory analysis of the new dataframe and compare it with the memory of the dataframe in the previous week and mark your comments.
___

__Memory usage of current dataframe__

In [14]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   visits     4406 non-null   int64
 1   nvisits    4406 non-null   int64
 2   ovisits    4406 non-null   int64
 3   novisits   4406 non-null   int64
 4   emergency  4406 non-null   int64
 5   hospital   4406 non-null   int64
 6   health     4406 non-null   object
 7   chronic    4406 non-null   int64
 8   adl        4406 non-null   object
 9   region     4406 non-null   object
 10  age        4406 non-null   float64
 11  gender     4406 non-null   object
 12  married    4406 non-null   object
 13  school     4406 non-null   int64
 14  income     4406 non-null   float64
 15  employed   4406 non-null   object
 16  insurance  4406 non-null   object
 17  medicaid   4406 non-null   object
dtypes: float64(2), int64(8), object(8)
memory usage: 2.1 MB

__Previous Data Frame__

In [15]:
df_prev = pd.read_csv("../data/NSMES1988.csv")
df_prev.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4406 non-null   int64
 1   visits      4406 non-null   int64
 2   nvisits     4406 non-null   int64
 3   ovisits     4406 non-null   int64
 4   novisits    4406 non-null   int64
 5   emergency   4406 non-null   int64
 6   hospital    4406 non-null   int64
 7   health      4406 non-null   object
 8   chronic     4406 non-null   int64
 9   adl         4406 non-null   object
 10  region      4406 non-null   object
 11  age         4406 non-null   float64
 12  gender      4406 non-null   object
 13  married     4406 non-null   object
 14  school      4406 non-null   int64
 15  income      4406 non-null   float64
 16  employed    4406 non-null   object
 17  insurance   4406 non-null   object
 18  medicaid    4406 non-null   object
dtypes: float64(2), int64(9), object(8)
memory usage: 2.2 MB

__What to write in the report__

* Note total memory usage

* Explain any increase/decrease

* Mention that:

* Object/factor columns consume more memory

* Converting to category reduces memory footprint

### 4. Perform the following operations on age and income columns. Multiply age by 10 and income by 10000.
___

__The dataset stores:__

* age → divided by 10

* income → divided by 10,000

Restore them to real-world values.

In [18]:
df['age'] = df['age'] * 10
df['income'] = df['income'] * 10000

### 5. Perform basic statistical analysis on the new dataframe and generate a brief report on the outcome. Save the dataframe as NSMES1988updated.csv file in the local space for possible future use.
___

In [19]:
df.describe()

,visits,nvisits,ovisits,novisits,emergency,hospital,chronic,age,school,income
count,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4.406000e+03
mean,5.774399,1.618021,0.750794,0.536087,0.263504,0.295960,1.541988,740.240581,10.290286,2.527132e+08
std,6.759225,5.317056,3.652759,3.879506,0.703659,0.746398,1.349632,63.340503,3.738736,2.924648e+08
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,660.000000,0.000000,-1.012500e+08
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,690.000000,8.000000,9.121500e+07
50%,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,730.000000,11.000000,1.698150e+08
75%,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,780.000000,12.000000,3.172850e+08
max,89.000000,104.000000,141.000000,155.000000,12.000000,8.000000,8.000000,1090.000000,18.000000,5.483510e+09

But you should explicitly discuss:

* Mean, median, std

* Min / max

* Skewness indicators (large gap between mean & median)

* Optional but strong: